/.fleet
/.idea
/.phpunit.cache
/.vscode
/Domain/Larabear
/node_modules
/public/build
/public/static/dist
/public/hot
/public/storage
/storage/*.key
/storage/phpstan
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
