includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    tmpDir: storage/phpstan
    level: 8
    paths:
        - Domain
        - Infrastructure
        - Integration
        - Web
    ignoreErrors:
        - '#casts is not the same as PHPDoc type array of overridden property Illuminate\\Database\\Eloquent\\Model::\$casts.#'
        - '#Variable property access on \$this#'
        - '#has PHPDoc tag @method for method#'
